<div class="feedDiv">
  <h3>Recent 1LINRs</h3>
  <hr>
  <ul class='feedPosts'>
    <%for(i in allUsers){%>
      <% if (allUsers[i].post[0]){%>
      <li>
        <div class="titleNameFeed">
          <h4><%=allUsers[i].post[0].title%></h4>
          <div class="nameDateFeed">
              <h5>by <a href="/userpage/<%=allUsers[i]._id%>"><%=allUsers[i].username%></a></h5>
              <h5>
                <% if(Number(allUsers[i].post[0].createdAt.getMinutes()) < 10 ) {
                  let minutes = ('0' + allUsers[i].post[0].updatedAt.getMinutes())
                  if(Number(allUsers[i].post[0].createdAt.getHours()) <= 11) { %>
                    <%=allUsers[i].post[0].createdAt.toLocaleDateString('en-us') + ' ' + allUsers[i].post[0].createdAt.getHours() + ':' + minutes + ' AM'%>
                    <%} else if(Number(allUsers[i].post[0].createdAt.getHours()) === 12) {%>
                      <%=allUsers[i].post[0].createdAt.toLocaleDateString('en-us') + ' ' + allUsers[i].post[0].createdAt.getHours() + ':' + minutes + ' PM'%>
                    <%} else {
                      let hours = (Number(allUsers[i].post[0].createdAt.getHours()) - 12).toString() %>
                      <%=allUsers[i].post[0].createdAt.toLocaleDateString('en-us') + ' ' + hours + ':' + minutes + ' PM'%>
                    <%}%>
                <%} else {
                  let minutes = allUsers[i].post[0].createdAt.getMinutes()
                  if(Number(allUsers[i].post[0].createdAt.getHours()) <= 11) { %>
                    <%=allUsers[i].post[0].createdAt.toLocaleDateString('en-us') + ' ' + allUsers[i].post[0].createdAt.getHours() + ':' + minutes + ' AM'%>
                    <%} else if(Number(allUsers[i].post[0].createdAt.getHours()) === 12) {%>
                      <%=allUsers[i].post[0].createdAt.toLocaleDateString('en-us') + ' ' + allUsers[i].post[0].createdAt.getHours() + ':' + minutes + ' PM'%>
                    <%} else {
                      let hours = (Number(allUsers[i].post[0].createdAt.getHours()) - 12).toString() %>
                      <%=allUsers[i].post[0].createdAt.toLocaleDateString('en-us') + ' ' + hours + ':' + minutes + ' PM'%>
                    <%}%>
                <%}%>
              </h5>
          </div>
        </div>
        <h2><%=allUsers[i].post[0].body%></h2>
        <div class="likeDislikeFeed">
          <h5><%=allUsers[i].post[0].like%> Likes  |  <%=allUsers[i].post[0].dislike%> Dislikes</h5>
          <% if(currentUser.username !== allUsers[i].username) {%>
            <%-include('./likedislikediv.ejs')%>
          <%}%>
        </div>
      </li>
      <%}%>
    <%}%>
  </ul>
</div>
