<nav class='topNav'>
  <a href="/">Home</a>
  <img src='#'>
  <ul class='topNav'>
    <li><a href="/userpage/<%=currentUser._id%>"><%=currentUser.username%></a></li>
    <li><a href="/watching/<%=currentUser._id%>">People I'm Watching</a></li>
    <li><a href="/watched/<%=currentUser._id%>">People Watching Me</a></li>
    <li><a href="#">New People to Watch</a></li>
    <li><a href="/editlist/">Edit My Posts</a></li>
    <li><a href="/edituser/<%=currentUser._id%>">Settings</a></li>
    <li>
      <form class="logout" action="/sessions/?_method=DELETE" method="POST">
        <input type="submit" value="Log Out">
      </form>
    </li>
  </ul>
</nav>
