<div class="userCardDiv">
  <img src="<%=user.img%>" alt="<%=user.username%>'s Profile Pic">
  <div class="nameAboutDiv">
    <h1><%=user.username%></h1>
    <h3><%=user.location%></h3>
    <h5><%=user.about%></h5>
    <%if((currentUser.username !== user.username) && (!following)){%>
      <form action="/watchuser/<%=currentUser._id%>/<%=user._id%>/?_method=PUT" method="POST" class='followForm'>
        <input type="submit" value="Start Watching" class='followBtn'>
      </form>
      <%} else if ((currentUser.username !== user.username) && (following)){%>
        <form action="/stopwatching/<%=currentUser._id%>/<%=user._id%>/?_method=PUT" method="POST" class='followForm'>
          <input type="submit" value="Stop Watching" class='followBtn' id='stopWatching'>
        </form>
      <%if(!shortList && currentUser.watchList.length <= 10) {%>
        <form action="/shortlist/<%=currentUser._id%>/<%=user._id%>/?_method=PUT" method="POST" class='followForm'>
          <input type="submit" value="Add to Short List" class='followBtn'>
        </form>
      <%} else if (shortList){%>
        <form action="/removeshortlist/<%=currentUser._id%>/<%=user._id%>/?_method=PUT" method="POST" class='followForm'>
          <input type="submit" value="Remove From Short List" class='followBtn' id='stopWatching'>
        </form>
      <%}}%>
  </div>
  <div class="userWatchDiv">
    <%-include('./watcherdiv.ejs')%>
    <%-include('./watchingdiv.ejs')%>
  </div>
</div>
