<div class="userCardDiv">
  <img src="" alt="<%=user.username%>'s Profile Pic">
  <div class="nameAboutDiv">
    <h1><%=user.username%></h1>
    <h3><%=user.location%></h3>
    <h5><%=user.about%></h5>
  </div>
  <div class="userWatchDiv">
    <%-include('./watcherdiv.ejs')%>
    <%-include('./watchingdiv.ejs')%>
    <%if(currentUser.username !== user.username){%>
      <form action="/watchuser/<%=currentUser._id%>/<%=user._id%>/?_method=PUT" method="POST">
        <input type="submit" value="Start Watching">
      </form>
      <%}%>
  </div>
</div>
