<div class="feedDiv">
  <ul class='feedPosts'>
    <% if (user.post[0]){%>
      <% for(i in user.post) { %>
      <li>
        <div class="titleNameFeed">
          <h4><%=user.post[i].title%></h4>
          <div class="nameDateFeed">
            <h5>by <%=user.username%></h5>
            <h5>
              <%
                let date = new Date();
                let offSet = (date.getTimezoneOffset())/60
              if(Number(user.post[i].createdAt.getMinutes()) < 10 ) {
                let minutes = ('0' + user.post[i].createdAt.getMinutes())
                if(Number(user.post[i].createdAt.getHours()) <= 11) { %>
                  <%=user.post[i].createdAt.toLocaleDateString('en-us') + ' ' + user.post[i].createdAt.getHours() + ':' + minutes + ' AM'%>
                  <%} else if(Number(user.post[i].createdAt.getHours()) === 12) {%>
                    <%=user.post[i].createdAt.toLocaleDateString('en-us') + ' ' + user.post[i].createdAt.getHours() + ':' + minutes + ' PM'%>
                  <%} else {
                    let hours = (Number(user.post[i].createdAt.getHours()) - 12).toString() %>
                    <%=user.post[i].createdAt.toLocaleDateString('en-us') + ' ' + hours + ':' + minutes + ' PM'%>
                  <%}%>
              <%} else {
                let minutes = user.post[i].createdAt.getMinutes()
                if(Number(user.post[i].createdAt.getHours()) <= 11) { %>
                  <%=user.post[i].createdAt.toLocaleDateString('en-us') + ' ' + user.post[i].createdAt.getHours() + ':' + minutes + ' AM'%>
                  <%} else if(Number(user.post[i].createdAt.getHours()) === 12) {%>
                    <%=user.post[i].createdAt.toLocaleDateString('en-us') + ' ' + user.post[i].createdAt.getHours() + ':' + minutes + ' PM'%>
                  <%} else {
                    let hours = (Number(user.post[i].createdAt.getHours()) - 12).toString() %>
                    <%=user.post[i].createdAt.toLocaleDateString('en-us') + ' ' + hours + ':' + minutes + ' PM'%>
                  <%}%>
              <%}%>
            </h5>
          </div>
        </div>
        <h2><%=user.post[i].body%></h2>
        <div class="likeDislikeFeed">
          <h5><%=user.post[i].like%> Likes  |  <%=user.post[i].dislike%> Dislikes</h5>
          <%if((currentUser.username !== user.username) && user) {%>
            <%-include('./likedislikesingle.ejs')%>
          <%}%>
        </div>
      </li>
      <%}%>
    <%} else {%>
      <li class='noUserPostsMsg'>When <%=user.username%> posts things, this is where we keep them!</li>
    <%}%>
  </ul>
</div>
