<a href="/watched/<%=user._id%>">
  <h3>Being Watched By</h3>
</a>
<div class="watchDiv">
    <%if(!user.watched[0]) {%>
      <h3><%=user.username%> is not currently being watched by anyone.</h3>
    <%} else {
      for(let i = 0; i <= 6; i++) {
        let thisUser = user.watched[i]
        if(thisUser) {%>
        <a href='/userpage/<%=thisUser._id%>' class="miniUserCard">
          <img src="" alt="<%=thisUser.username%>'s Pic'">
          <h4><%=thisUser.username%></h4>
          <h5><%=thisUser.location%></h5>
        </a>
        <%} else {
          break
        }%>
      <%}%>
    <%}%>
</div>
