  <div class="watchDiv">
    <div class="userCards">
      <%if(!user.watching[0]) {%>
        <p><%=user.username%> is not currently watching anybody</p>
      <%} else {
        for(let i = 0; i <= 5; i++) {
          let thisUser = user.watching[i]
          if(thisUser) {
            let thisImg = allUsers.find(users => users.id == thisUser._id).img%>
          <a href='/userpage/<%=thisUser._id%>' class="miniUserCard <%if(user.watching.length >= 6) {%>fullList<%}%>">
            <img src="<%=thisImg%>" alt="<%=thisUser.username%>'s Pic'">
            <h4><%=thisUser.username%></h4>
            <h5><%=thisUser.location%></h5>
          </a>
          <%} else {
            break
          }
        }
      }%>
    </div>
    <%if(user.watching.length > 6) {%>
      <a href="/watching/<%=user._id%>">
      <p>View All</p>
      </a>
    <%}%>
  </div>
