<html lang="en" dir="ltr">
  <%-include('./partials/head.ejs')%>
  <body>
    <%-include('./partials/header.ejs')%>
    <%-include('./partials/nav.ejs')%>
    <div class="watchFullPage">
      <div class="authenticationForm">
        <h1>Edit Profile</h1>
        <%if(error) {%>
          <h2 id='errMsg'><%=error%></h2>
        <%}%>
        <!-- cloudinary uploader -->
        <h3 for='upload_widget'>Customize Profile Picture</h3>
        <button id="upload_widget" class="cloudinary-button">Upload Profile Pic</button>

        <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>
        <script type="text/javascript">
        let imgURL = '<%=currentUser.img%>'
        var myWidget = cloudinary.createUploadWidget({
          cloudName: 'onelinrprofilepics',
          uploadPreset: 'rlrj84dh', public_id:'<%=currentUser._id%>'}, (error, result) => {
            if (!error && result && result.event === "success") {
              console.log('Done! Here is the image info: ', result);
              document.getElementById("imgURL").setAttribute("value", result.info.url)
            } else {
              console.log(error);
            }
          }
        )
        document.getElementById("upload_widget").addEventListener("click", function(){
            myWidget.open();
          }, false);
        </script>
        <!-- end cloudinary uploader widget -->
        <form class="editProfileForm" action="/edituser/<%=currentUser._id%>/?_method=PUT" method="POST">
          <input type="hidden" name="img" value="<%=currentUser.img%>" id='imgURL'>
          <h3 for="username">Username:</h3>
          <input type="text" name="username" value="<%=currentUser.username%>" id='username' class='createTextInput'>
          <h5 class='errorMsg' id='usernameError'>Username must be between 5 and 16 characters.</h5>
          <h3 for='password'>Password</h3>
          <input type="password" name="password" placeholder="password..." id='password' class='createTextInput'class='createTextInput'>
          <h5 class='errorMsg' id='passwordError1'>Your password must be between 7 and 16 characters.</h5>
          <h5 class='errorMsg' id='passwordError2'>Your password must contain at least one of the following: ! @ # $ % ^ & *</h5>
          <h3 for='location'>Location</h3>
          <input type="text" name="location" value="<%=currentUser.location%>" id='location' class='createTextInput'>
          <h5 id='locationError'></h5>
          <h3 for='about'>Describe Yourself</h3>
          <textarea name="about" id='about' class='createTextArea'><%=currentUser.about%></textarea>
          <br/><input type="submit" value="Update" class='submitUser'>
        </form>
        <h2 id='errMsg'></h2>
      </div>
    <%-include('./partials/footer.ejs')%>
    </div>
  </body>
  <script src="/script/liveverification.js" charset="utf-8"></script>
</html>
