<html lang="en" dir="ltr">
  <%-include('./partials/head.ejs')%>
  <body>
    <%-include('./partials/header.ejs')%>
    <%-include('./partials/nav.ejs')%>
    <div class="homepageContentDiv">
      <div class="newPostHomepage">
        <%-include('./partials/newpost.ejs')%>
      </div>
      <div class="feedAndWatchingDiv">
        <%-include('./partials/homewatching.ejs')%>
        <%-include('./partials/feed.ejs')%>
      </div>
      <%-include('./partials/footer.ejs')%>
    </div>
  </body>
</html>
