<html lang="en" dir="ltr">
  <%-include('./partials/head.ejs')%>
  <body>
    <%-include('./partials/header.ejs')%>
    <h1>User Page</h1>
    <%-include('./partials/usercard.ejs')%>
    <%-include('./partials/nav.ejs')%>
    <%-include('./partials/userfeed.ejs')%>
    <%-include('./partials/footer.ejs')%>

  </body>
</html>
