<html lang="en" dir="ltr">
  <%-include('./partials/head.ejs')%>
  <body>
    <h1>Watchers</h1>
    <%-include('./partials/nav.ejs')%>
    <div class="watchingFullDiv">
      <%if(!user.watching[0]) {%>
        <h3><%=user.username%> is not currently being watched by anyone.</h3>
      <%} else {
        for(i in user.watched) {
          let thisUser = user.watched[i]%>
          <a href='/userpage/<%=thisUser.username%>' class="miniUserCard">
            <img src="" alt="<%=thisUser.username%>'s Pic'">
            <h4><%=thisUser.username%></h4>
            <h5><%=thisUser.location%></h5>
          </a>
        <%}%>
      <%}%>
    </div>
  </body>
</html>
